<!DOCTYPE html>
<html>
<head>
  <title>Appbulance - Panel</title>
  <%- include ../partials/template/header -%>
  <style>
    /* Always set the map height explicitly to define the size of the div
    * element that contains the map. */
    #map {
      height: 100%;
    }
    /* Optional: Makes the sample page fill the window. */
    html, body {
      height: 100%;
      margin: 0;
      padding: 0;
    }
  </style>
</head>
<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  <%- include ../partials/template/crum-navbar -%>
  <div class="content-wrapper">
    <div class="container-fluid">
      <main>
        <h4>Texto de ejewmplo</h4>
        <section>
          <div id="window"></div>
          <script>
            var map;
            function initMap() {
              map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: 17.961760, lng: -102.199524},
                zoom: 12
              });
            }
          </script>
          <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDa56T84jpoLhurxSlOf9lou21Xj0jAl90&callback=initMap"
          async defer></script>
        </section>
      </main>
    </div>
    <%- include ../partials/template/footer -%>
    <%- include ../partials/template/top-button -%>
    <%- include ../partials/modals/logout -%>
    <%- include ../partials/template/js-scripts -%>
  </div>
</body>
</html>