<!DOCTYPE html>
<html>

<head>
	<%- include ../partials/template/header -%>
	<link href="/vendor/datatables/jquery.dataTables.min.css" rel="stylesheet">
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
	<%- include ../partials/template/crum-navbar -%>
	<div class="content-wrapper">
		<div class="container-fluid">
			<main>
				<section id="ViewUsers">
					<!-- Example DataTables Card-->
					<div class="card mb-3">
						<div class="card-header">
							<i class="fa fa-truck"></i> Usuarios
						</div>
						<div class="card-body">
							<!-- Toolbar -->
							<button name="btnAdd" id="btnAdd" type="button" class="btn btn-primary btn-success" data-toggle="modal"
							 data-target="#addModal"> <i class="fa fa-fw fa-plus-circle  fa-lg"></i>
							</button>
							<button name="btnDel" id="btnDelete" type="button" class="btn btn-primary btn-danger" disabled="true"
							 data-toggle="modal" data-target="#deleteModal"> <i class="fa fa-fw fa-trash  fa-lg"></i>
							</button>
							<button name="btnMod" id="btnModify" type="button" class="btn btn-primary btn-warning" disabled="true"
							 data-toggle="modal" data-target="#modModal"> <i class="fa fa-fw fa-pencil fa-lg"></i>
							</button>
							<button name="btnReload" id="btnReload" type="button" class="btn btn-primary btn-primary" onclick="reload()"> <i
								 class="fa fa-fw fa-refresh fa-lg"></i> </button>
							<hr>
							<button name="btnInfo" id="btnInfo" type="button" class="btn btn-primary btn-warning" disabled="true"
							 data-toggle="modal" data-target="#infoModal"> <i class="fa fa-fw fa-pencil fa-lg"></i>
							</button>
							<div class="table-responsive">
								<table class="display table table-striped table-bordered nowrap hover" id="usuarios" width="100%" cellspacing="0">
									<thead class="thead-dark">
										<tr>
										<th>Nombre</th>
										<th>Apellido Paterno</th>
										<th>Apellido Materno</th>
										<th>Teléfono</th>
										<th>Ocupación</th>
										<th>Sexo</th>
										<th>Tipo Sangre</th>
										<th>Fecha Nacimiento</th>  
										<th>NSS</th>
										<th>Email</th> 
										</tr>
									</thead>
								</table>
							</div>
						</div>
					</div>
				</section>
				<!-- Add User Modal-->
				<%- include ../partials/modals/addUser -%>
				<!-- Logout Modal-->
				<%- include ../partials/modals/dropUser -%>
				<!-- Modify User Modal-->
				<%- include ../partials/modals/modifyUser -%>

			</main>
		</div>
		<%- include ../partials/template/footer -%>
		<%- include ../partials/template/top-button -%>
		<%- include ../partials/modals/logout -%>
		<!-- Scripts JavaScript-->
		<script src="/vendor/jquery/jquery.min.js"></script>
		<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
		<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
		<script src="/vendor/datatables/jquery.dataTables.min.js"></script>
		<script src="/vendor/datatables/dataTables.dataTables.min.js"></script>
		<script src="/vendor/datatables/dataTables.select.min.js"></script>

		<script src="/js/crum-usuarios.js"></script>
		<script src="/js/ab-admin.min.js"></script>
		<script src="/js/ab-admin-datatables.min.js"></script>
		<script src="/js/crum-tableDefaultConfig.js"></script>
		
	</div>
</body>

</html>
          