<%# 
DATOS DE ENTRADA:
  style.body_style
  pageTitle
#%>  
<!DOCTYPE html>
<html>
<head>
  <%- include ../partials/template/header -%>
</head>
<body class="fixed-nav sticky-footer <%=style.body_style%>" id="page-top">
  <%- include ../partials/template/crum-navbar -%>
  <div class="content-wrapper">
    <div class="container-fluid">
      <main>
          <body>
              <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
              <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
              <script>
                $(function () {
                  var socket = io();
                });
              </script>
            </body>
        <div id="map" style="width:100%;height:480px;background:white"></div>
        <script src="/js/ab-google-maps.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDa56T84jpoLhurxSlOf9lou21Xj0jAl90&callback=initMap" async defer></script>
      </main>
    </div>
    <%- include ../partials/template/footer -%>
    <%- include ../partials/template/top-button -%>
    <%- include ../partials/modals/logout -%>
    <%- include ../partials/template/js-scripts -%>
  </div>
</body>
</html>