<!DOCTYPE html>
<html>
<head>
  <title>Appbulance - Panel</title>
  <%- include ../partials/template/header -%>
</head>
<body class="fixed-nav sticky-footer <%=style.body_style%>" id="page-top">
  <%- include ../partials/template/crum-navbar -%>
  <div class="content-wrapper">
    <div class="container-fluid">
      <main>
        <!-- Breadcrumbs-->
        <%- include ../partials/template/breadcrumb -%>     
        <section id="ViewUsers">
          <!-- Example DataTables Card-->
          <div class="card mb-3">
            <div class="card-header">
              <i class="fa fa-truck"></i> Unidades Médicas
            </div>
            <div class="card-body">
              <!-- Toolbar -->
              <button name="btnAdd" id="btnAdd" type="button" class="btn btn-primary btn-success" data-toggle="modal" data-target="#addModal" > <i class="fa fa-fw fa-plus-circle  fa-lg"></i> </button>
              <button name="btnDel" id="btnDelete" type="button" class="btn btn-primary btn-danger" disabled="true" data-toggle="modal" data-target="#deleteModal" > <i class="fa fa-fw fa-trash  fa-lg"></i> </button>
              <button name="btnMod" id="btnModify" type="button" class="btn btn-primary btn-warning" disabled="true" data-toggle="modal" data-target="#modModal"> <i class="fa fa-fw fa-pencil fa-lg"></i> </button>
              <button name="btnReload" id="btnReload" type="button" class="btn btn-primary btn-primary" disabled="true" data-toggle="modal" data-target="#modModal"> <i class="fa fa-fw fa-download fa-lg"></i> </button>
              <hr>
              <div class="table-responsive" id="tableUnits">
                <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                  <thead class="thead-dark">
                    <tr>
                      <th>ID</th>
                      <th>Matrícula</th>
                      <th>Número Económico</th>
                      <th>Estado</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>ID</th>
                      <th>Matrícula</th>
                      <th>Número Económico</th>
                      <th>Estado</th>
                    </tr>
                  </tfoot>
                  <tbody id="unitsTable">
                  </tbody>
                </table>
              </div>
            </div>
            <div class="card-footer small text-muted">Última actualización: 15/04/2018 11:59 PM
            </div>
          </div>
        </section>
        <!-- Add User Modal-->    
        <%- include ../partials/modals/addUnit -%>
        <!-- Logout Modal-->
        <%- include ../partials/modals/dropUnit -%>
        <!-- Modify User Modal-->    
        <%- include ../partials/modals/modifyUnit -%>
        <!-- Scripts JavaScript-->
        <script></script>
        <script src="/js/ab-toolbarAdmon.js"></script>
      </main>
    </div>
    <%- include ../partials/template/footer -%>
    <%- include ../partials/template/top-button -%>
    <%- include ../partials/modals/logout -%>
    <%- include ../partials/template/js-scripts -%>

    <script>
      var _operation;
      var _id;
      var _mat;
      var _num_e;
      var _estado;
      
      $(document).ready(function(){     
        $('#unitsTable').on("click", function(){
            $('td').click(function(){          
            _id = $(this).parents("tr").find("td").eq(0).html();
            _mat = $(this).parents("tr").find("td").eq(1).html();
            _num_e = $(this).parents("tr").find("td").eq(2).html();
            _estado = $(this).parents("tr").find("td").eq(3).html();
            $("input[name=btnEliminar]").attr("disabled", false); 
            $("input[name=btnModificar]").attr("disabled", false);
            $("button[name=btnDel]").attr("disabled", false); 
            $("button[name=btnMod]").attr("disabled", false); 
            loadValues();
          });
        }); 
      }); 

      function addUnit(){ 
        var _id = Math.floor((Math.random() * 100) + 1);
        var _mat = document.getElementById("InputMatricula").value;
        var _num_economic = document.getElementById("InputEconomicNumber").value;
        var _state = document.getElementById("InputState").value;
        var fila="<tr id='unit_"+ _id + "'><td>"+ _id
                +"</td><td>"+_mat+"</td><td>"+_num_economic+"</td><td>"+_state+"</td></tr>"; 
        if(_mat.trim()=='' || _num_economic.trim()=='' || _state.trim()==''){
          alert("Operación fracasada. Ingrese los datos faltantes.");          
        } else {
          document.getElementById("unitsTable").innerHTML = fila;
          clear();                    
        }          
      }

      function clear(){
        document.getElementById("InputMatricula").value = "";
        document.getElementById("InputEconomicNumber").value = "";
        document.getElementById("InputState").value = "";
        document.getElementById("OutputIDUnit_modal").value = "";
        document.getElementById("OutputMatricula_modal").value = "";
        document.getElementById("OutputEconomicNumber_modal").value = "";
        document.getElementById("OutputState_modal").value = "";        
      }
      
      function loadValues(){
        var _modal_mod = "<div class='form-group'>"+
                          "<label for='OutputIDUnit'>ID Ambulancia</label>"+
                          "<input class='form-control' id='OutputIDUnit_modal' type='text' value='"+ _id +"' disabled>"+
                        "</div> "+
                        "<div class='form-group'>"+
                          "<label for='OutputMatricula'>Matrícula</label>"+
                          "<input class='form-control' id='OutputMatricula_modal' type='text' value='"+ _mat +"'>"+
                        "</div>"+
                        "<div class='form-group'>"+
                          "<label for='OutputEconomicNumber'>Número Económico</label>"+
                          "<input class='form-control' id='OutputEconomicNumber_modal' type='text' value='"+ _num_e +"'>"+
                        "</div>"+   
                        "<div class='form-group'>"+
                          "<label for='OutputState'>Estado</label>"+
                          "<input class='form-control' id='OutputState_modal' type='text' value='"+ _estado +"'>"+
                        "</div>";
        var _modal_del = "<div class='modal-body'>¿Está seguro que desea eliminar la unidad '"+ _id +"' con la matricula '"+ _mat + "'?</div>";
        document.getElementById('modal-modUnits').innerHTML = _modal_mod;
        document.getElementById('modal-delUnits').innerHTML = _modal_del;
      }
          
    </script>
  </div>
</body>
</html>