<!DOCTYPE html>
<html>
<head>
  <title>Appbulance - Panel</title>
  <%- include ../partials/template/header -%>
</head>
<body class="fixed-nav sticky-footer <%=style.body_style%>" id="page-top">
  <%- include ../partials/template/crum-navbar -%>
  <div class="content-wrapper">
    <div class="container-fluid">
      <main>
        <!-- Breadcrumbs-->
        <%- include ../partials/template/breadcrumb -%>      
        <section id="ViewUsers">
          <!-- Example DataTables Card-->
          <div class="card mb-3">
            <div class="card-header">
              <i class="fa fa-truck"></i> Unidades Médicas
            </div>
            <div class="card-body">
              <!-- Toolbar -->
              <a class="btn btn-primary btn-success" data-toggle="modal" data-target="#addModal" style="color: #FFFFFF">Registrar</a>
              <input id="btnEliminar" type="button" class="btn btn-primary btn-danger" style="color: #FFFFFF" data-toggle="modal" data-target="#deleteModal" value="Eliminar" disabled="true">
              <input id="btnModificar" type="button" class="btn btn-primary btn-warning" style="color: #FFFFFF" data-toggle="modal" data-target="#modModal" value="Modificar" disabled="true">
              <hr>
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>ID Ambulancia</th>
                      <th>Matrícula</th>
                      <th>Número Económico</th>
                      <th>Estado</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>ID Ambulancia</th>
                      <th>Matrícula</th>
                      <th>Número Económico</th>
                      <th>Estado</th>
                    </tr>
                  </tfoot>
                  <tbody>
                    <tr id="selected" onclick="toolbarAdmon()">
                      <td>AMB1001</td>
                      <td>PSG1FCB6</td>
                      <td>159632</td>
                      <td>Mantenimiento</td>
                    </tr>
                    <tr id="selected" onclick="toolbarAdmon()">
                      <td>AMB1002</td>
                      <td>ALE7BRA1</td>
                      <td>189674</td>
                      <td>Listo</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="card-footer small text-muted">Última actualización: 15/04/2018 11:59 PM
            </div>
          </div>
        </section>
        <!-- Add User Modal-->    
        <%- include ../partials/modals/addUser -%>
        <!-- Logout Modal-->
        <%- include ../partials/modals/dropUser -%>
        <!-- Modify User Modal-->    
        <%- include ../partials/modals/modifyUser -%>
        <!-- Scripts JavaScript-->
        <script></script>
        <script src="/js/ab-toolbarAdmon.js"></script>
      </main>
    </div>
    <%- include ../partials/template/footer -%>
    <%- include ../partials/template/top-button -%>
    <%- include ../partials/modals/logout -%>
    <%- include ../partials/template/js-scripts -%>
  </div>
</body>
</html>