<!DOCTYPE html>
<html>
  <head>
    <title>Appbulance - Panel</title>
    <%- include ../partials/template/header -%>
  </head>
  <body class="fixed-nav sticky-footer <%=style.body_style%>" id="page-top">
    <%- include ../partials/template/crum-navbar -%>
    <div class="content-wrapper">
      <div class="container-fluid">
      <main>
        
      </main>
      </div>
      <%- include ../partials/template/footer -%>
     <%- include ../partials/template/top-button -%>
      <%- include ../partials/modals/logout -%>
     <%- include ../partials/template/js-scripts -%>
    </div>
  </body>
</html>
