<!DOCTYPE html>
<html>
<head>
  <title>Appbulance - Panel</title>
  <%- include ../partials/template/header -%>
</head>
<body class="fixed-nav sticky-footer <%=style.body_style%>" id="page-top">
  <%- include ../partials/template/crum-navbar -%>
  <div class="content-wrapper">
    <div class="container-fluid">
      <main>
        <!-- Breadcrumbs-->
        <section id="ViewUsers">    
          <!-- Example DataTables Card-->
          <div class="card mb-3">
            <div class="card-header">
              <i class="fa fa-user"></i> Usuarios atendidos</div>
              <div class="card-body">
                <!-- Toolbar -->
                <button name="btnAdd" id="btnAdd" type="button" class="btn btn-primary btn-success" data-toggle="modal" data-target="#addModal" > <i class="fa fa-fw fa-plus-circle  fa-lg"></i> </button>
                <button name="btnDel" id="btnDelete" type="button" class="btn btn-primary btn-danger" disabled="true" data-toggle="modal" data-target="#deleteModal" > <i class="fa fa-fw fa-trash  fa-lg"></i> </button>
                <button name="btnMod" id="btnModify" type="button" class="btn btn-primary btn-warning" disabled="true" data-toggle="modal" data-target="#modModal"> <i class="fa fa-fw fa-pencil fa-lg"></i> </button>
                <button name="btnReload" id="btnReload" type="button" class="btn btn-primary btn-primary" onclick="load()"> <i class="fa fa-fw fa-refresh fa-lg"></i> </button>
                <hr>
                <div class="table-responsive">
                  <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Edad</th>
                        <th>Fecha de nacimiento</th>    
                        <th>Sexo</th>
                        <th>Teléfono</th>
                        <th>Email</th>
                        <th>Ocupación</th>
                      </tr>
                    </thead>
                    <tfoot>
                      <tr>
                        <th>ID</th>    
                        <th>Nombre</th>
                        <th>Edad</th>
                        <th>Fecha de nacimiento</th>    
                        <th>Sexo</th>
                        <th>Teléfono</th>
                        <th>Email</th>
                        <th>Ocupación</th>
                      </tr>
                    </tfoot>
                    <tbody id="unitsTable">
                          
                    </tbody>
                      
                  </table>
                </div>
              </div>
              <div class="card-footer small text-muted">Última actualización: 15/04/2018 11:59 PM
              </div>
            </div>
          </section>               
        <!-- Add User Modal-->    
        <%- include ../partials/modals/addUser -%>          
        <!-- Logout Modal-->
        <%- include ../partials/modals/dropUser -%>          
        <!-- Modify User Modal-->    
        <%- include ../partials/modals/modifyUser -%>
        <!-- Scripts JavaScript-->
        <script src="/js/ab-script-users.js"></script>
      </main>
    </div>
    <%- include ../partials/template/footer -%>
    <%- include ../partials/template/top-button -%>
    <%- include ../partials/modals/logout -%>
    <%- include ../partials/template/js-scripts -%>
  </div>
</body>
</html>
          