<!DOCTYPE html>
<html>

<head>
	<%- include ../partials/template/header -%>
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
	<%- include ../partials/template/crum-navbar -%>
	<div class="content-wrapper">
		<div class="container-fluid">
			<main>
				<div id="map" style="width:100%;height:480px;background:white"></div>
			</main>
		</div>
		<%- include ../partials/modals/petition -%>
		<%- include ../partials/template/footer -%>
		<%- include ../partials/template/top-button -%>
		<%- include ../partials/modals/logout -%>
		<script src="/vendor/socket-io/socket.io.min.js"></script>
		<script src="/vendor/jquery/jquery.min.js"></script>
		<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
		<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
		<script src="/vendor/pushjs/push.min.js"></script>
		<script src="/js/crum-socket-peticiones.js"></script>
		<script src="/js/ab-admin.min.js"></script>
		<script src="/js/ab-maps-api.min.js"></script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDa56T84jpoLhurxSlOf9lou21Xj0jAl90&callback=initMap"
		 async defer></script>
		
	</div>
</body>

</html>