<!DOCTYPE html>
<html>
<head>
  <title>Appbulance - Inicio</title>
  <%- include ../partials/template/header -%>
</head>
<body class="fixed-nav sticky-footer <%=style.body_style%>" id="page-top">
  <%- include ../partials/template/user-navbar%>
  <div class="content-wrapper">
      <div class="container-fluid">          
          <h5>Inicio</h5>
          <hr>
          <div class="form-group">
              <form action="/usuario/peticion" method="POST" role="form">
                <div class="form-row">                    
                    <div class="col-md-6" id="map" style="height: 250px"></div>
                    <div class="col-md-6">                        
                        <label for="OutputDirection">Tu dirección</label>
                        <input class="form-control" id="direction" name="direccion_pt" type="text" aria-describedby="direction" disabled>                        
                    <hr>
                    <button class="btn btn-primary btn-block" type="submit">Solicitar ambulancia</button>
                    <hr>
                    </div>
                </div>
                </form>
              </div>
        </div>
    <%- include ../partials/template/footer -%>
    <%- include ../partials/template/top-button -%>
    <%- include ../partials/modals/logout -%>
    <%- include ../partials/template/js-scripts -%> 
    <%- include ../partials/template/js-scripts-googlemaps -%>   
  </div>  
</body>
</html>