<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Appbulance - Inicio</title>
    <%- include ../partials/template/header -%>
</head>
<body class="fixed-nav sticky-footer <%=style.body_style%>" id="page-top">
    <%- include ../partials/template/crum-navbar -%>
    <div class="content-wrapper">
      <div class="container-fluid">
        <main>
          <!-- Breadcrumbs-->
          <h1>Configuraci贸n</h1>
          <hr>
          <p>The SB Admin navbar can be either fixed or static, and it supports the navbar-light and navbar-dark Bootstrap 4 classes.</p>
          <a class="btn btn-primary" href="#" id="toggleNavPosition">Cambiar bot贸n de barra de navegaci贸n</a>
          <a class="btn btn-primary" href="#" id="toggleNavColor">Cambiar color de barra de navegaci贸n</a>
          <!-- Blank div to give the page height to preview the fixed vs. static navbar-->
          <div style="height: 1000px;"></div>
        </main>
      </div>
      <%- include ../partials/template/footer -%>
      <%- include ../partials/template/top-button -%>
      <%- include ../partials/modals/logout -%>
      <%- include ../partials/template/js-scripts -%>
      
      <script>
        $('#toggleNavPosition').click(function() {
          $('body').toggleClass('fixed-nav');
          $('nav').toggleClass('fixed-top static-top');
        });
        
      </script>
      <!-- Toggle between dark and light navbar-->
      <script>
        $('#toggleNavColor').click(function() {
          $("#widget1 ul.toggle").toggle("fast");
          $('nav').toggleClass('navbar-dark navbar-light');
          $('nav').toggleClass('bg-dark bg-light');
          $('body').toggleClass('bg-dark bg-light');
        });
      </script>
    </div>
</body>
</html>